<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h4>Useful Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/service">Our Service</a></li>
         
      </ul>
    </div>

    <div class="footer-column">
      <h4>About us</h4>
      <p>
       Comprehensive Consultancy Services
We offer versatile advisory services, available on both retainership and a case-to-case basis, to meet your specific needs. Our representation spans various forums across Haryana, Delhi, and Rajasthan.


      </p>
    </div>

    <div class="footer-column">
      <h4>Connect with us</h4>
      <ul>
        <li><a routerLink="/contact">📱 Contact us</a></li>
        <li><strong>Registered Office : </strong>{{Registered_Office}}</li>
        <li><strong>Chamber No. : </strong>{{chamberNo}}</li>
        <li><strong>Gurugram Office : </strong>{{gurugramOffice}}</li>
        <li>📧{{email}} </li>
        <li>📞 +91 9728985840  <span style="font-size: 18px;">|</span> +91 9315825109 </li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook" style="color: rgb(127, 127, 235);"></i></a>
        <a href="https://www.linkedin.com/in/ramesh-dalal-37380a254?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin" style="color: rgb(1, 1, 150);"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color: rgb(41, 41, 240);"></i></a>
        <a href="https://www.instagram.com/advrameshdalal?utm_source=qr&igsh=YndubHE5eWQ3cGVj"><i class="fa-brands fa-instagram" style="color: rgb(240, 19, 229);"></i></a>
      </div>
    </div>
  </div>

  <h1 class="below">{{below}}</h1>
</footer>
