.main {
  width: 100vw;
  height: 50vh;
  background: url('/assets/pexels-karolina-grabowska-7876038.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.email {
  width: 90%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 16 / 9;
  background: url('/assets/Untitled.png') center/contain no-repeat;
  position: relative;
  border-radius: 20px;
  z-index: 2;
  color: black;
}

.email h3 {
  position: absolute;
  background-color: white;
  padding: 2px 8px;
  font-size: 0.9rem;
  border-radius: 5px;
  z-index: 100;
  text-align: center;
}

/* Label positions */
.website {
  top: 6%;
  right: 27%;
  width: 80px;
}

.name {
  top: 15%;
  right: 40%;
  width: 60px;
}

.insta {
  bottom: 16%;
  right: 40%;
  width: 90px;
}

.em {
  bottom: 6%;
  left: 32%;
  width: 60px;
  cursor: pointer;
  color: blue;
}
 .email-desktop {
  display: none;
}
.msg{
    position: absolute;
    bottom: 4%;
    left: 49%;
}
.mid{
   position: absolute;
    bottom: 49%;
    left: 6%;
   
}

/* Show PC button only on screens wider than 768px (desktop) */
@media screen and (min-width: 768px) {
  .email-desktop {
    display: inline-block;
  }
  .email-mobile {
    display: none;
  }
  
}
@media screen and (max-width: 460px){
  .mid{
    left: 5%;
    font-size: 1.3rem;
  }
}




